.language_list_item_wrapper .language_list_item_icon {
  background-size: contain !important;
  background-repeat: no-repeat;
  opacity: 1;
}
.language_list_item_wrapper-af .language_list_item_icon {
  background-image: url('images/AF.png') !important;
}
.language_list_item_wrapper-sq .language_list_item_icon {
  background-image: url('images/SQ.png') !important;
}
.language_list_item_wrapper-am .language_list_item_icon {
  background-image: url('images/AM.png') !important;
}
.language_list_item_wrapper-de .language_list_item_icon {
  background-image: url('images/DE.png') !important;
}
.language_list_item_wrapper-ar .language_list_item_icon {
  background-image: url('images/AR.png') !important;
}
.language_list_item_wrapper-hy .language_list_item_icon {
  background-image: url('images/HY.png') !important;
}
.language_list_item_wrapper-az .language_list_item_icon {
  background-image: url('images/AZ.png') !important;
}
.language_list_item_wrapper-bn .language_list_item_icon {
  background-image: url('images/BN.png') !important;
}
.language_list_item_wrapper-be .language_list_item_icon {
  background-image: url('images/BE.png') !important;
}
.language_list_item_wrapper-my .language_list_item_icon {
  background-image: url('images/MY.png') !important;
}
.language_list_item_wrapper-bs .language_list_item_icon {
  background-image: url('images/BS.png') !important;
}
.language_list_item_wrapper-bg .language_list_item_icon {
  background-image: url('images/BG.png') !important;
}
.language_list_item_wrapper-km .language_list_item_icon {
  background-image: url('images/KM.png') !important;
}
.language_list_item_wrapper-kn .language_list_item_icon {
  background-image: url('images/KN.png') !important;
}
.language_list_item_wrapper-ca .language_list_item_icon {
  background-image: url('images/CA.png') !important;
}
.language_list_item_wrapper-ceb .language_list_item_icon {
  background-image: url('images/CEB.png') !important;
}
.language_list_item_wrapper-cs .language_list_item_icon {
  background-image: url('images/CS.png') !important;
}
.language_list_item_wrapper-ny .language_list_item_icon {
  background-image: url('images/NY.png') !important;
}
.language_list_item_wrapper-zh .language_list_item_icon {
  background-image: url('images/ZH.png') !important;
}
.language_list_item_wrapper-si .language_list_item_icon {
  background-image: url('images/SI.png') !important;
}
.language_list_item_wrapper-ko .language_list_item_icon {
  background-image: url('images/KO.png') !important;
}
.language_list_item_wrapper-co .language_list_item_icon {
  background-image: url('images/CO.png') !important;
}
.language_list_item_wrapper-ht .language_list_item_icon {
  background-image: url('images/HT.png') !important;
}
.language_list_item_wrapper-hr .language_list_item_icon {
  background-image: url('images/HR.png') !important;
}
.language_list_item_wrapper-da .language_list_item_icon {
  background-image: url('images/DA.png') !important;
}
.language_list_item_wrapper-sk .language_list_item_icon {
  background-image: url('images/SK.png') !important;
}
.language_list_item_wrapper-sl .language_list_item_icon {
  background-image: url('images/SL.png') !important;
}
.language_list_item_wrapper-en .language_list_item_icon {
  background-image: url('images/EN.png') !important;
}
.language_list_item_wrapper-eo .language_list_item_icon {
  background-image: url('images/EO.png') !important;
}
.language_list_item_wrapper-es .language_list_item_icon {
  background-image: url('images/ES.png') !important;
}
.language_list_item_wrapper-et .language_list_item_icon {
  background-image: url('images/ET.png') !important;
}
.language_list_item_wrapper-eu .language_list_item_icon {
  background-image: url('images/EU.png') !important;
}
.language_list_item_wrapper-fi .language_list_item_icon {
  background-image: url('images/FI.png') !important;
}
.language_list_item_wrapper-fr .language_list_item_icon {
  background-image: url('images/FR.png') !important;
}
.language_list_item_wrapper-fy .language_list_item_icon {
  background-image: url('images/FY.png') !important;
}
.language_list_item_wrapper-gd .language_list_item_icon {
  background-image: url('images/GD.png') !important;
}
.language_list_item_wrapper-cy .language_list_item_icon {
  background-image: url('images/CY.png') !important;
}
.language_list_item_wrapper-gl .language_list_item_icon {
  background-image: url('images/GL.png') !important;
}
.language_list_item_wrapper-ka .language_list_item_icon {
  background-image: url('images/KA.png') !important;
}
.language_list_item_wrapper-el .language_list_item_icon {
  background-image: url('images/EL.png') !important;
}
.language_list_item_wrapper-gu .language_list_item_icon {
  background-image: url('images/GU.png') !important;
}
.language_list_item_wrapper-ha .language_list_item_icon {
  background-image: url('images/HA.png') !important;
}
.language_list_item_wrapper-haw .language_list_item_icon {
  background-image: url('images/HAW.png') !important;
}
.language_list_item_wrapper-iw .language_list_item_icon {
  background-image: url('images/IW.png') !important;
}
.language_list_item_wrapper-hi .language_list_item_icon {
  background-image: url('images/HI.png') !important;
}
.language_list_item_wrapper-hmn .language_list_item_icon {
  background-image: url('images/HMN.png') !important;
}
.language_list_item_wrapper-hu .language_list_item_icon {
  background-image: url('images/HU.png') !important;
}
.language_list_item_wrapper-ig .language_list_item_icon {
  background-image: url('images/IG.png') !important;
}
.language_list_item_wrapper-id .language_list_item_icon {
  background-image: url('images/ID.png') !important;
}
.language_list_item_wrapper-ga .language_list_item_icon {
  background-image: url('images/GA.png') !important;
}
.language_list_item_wrapper-is .language_list_item_icon {
  background-image: url('images/IS.png') !important;
}
.language_list_item_wrapper-it .language_list_item_icon {
  background-image: url('images/IT.png') !important;
}
.language_list_item_wrapper-ja .language_list_item_icon {
  background-image: url('images/JA.png') !important;
}
.language_list_item_wrapper-jw .language_list_item_icon {
  background-image: url('images/JW.png') !important;
}
.language_list_item_wrapper-kk .language_list_item_icon {
  background-image: url('images/KK.png') !important;
}
.language_list_item_wrapper-rw .language_list_item_icon {
  background-image: url('images/RW.png') !important;
}
.language_list_item_wrapper-ky .language_list_item_icon {
  background-image: url('images/KY.png') !important;
}
.language_list_item_wrapper-ku .language_list_item_icon {
  background-image: url('images/KU.png') !important;
}
.language_list_item_wrapper-lo .language_list_item_icon {
  background-image: url('images/LO.png') !important;
}
.language_list_item_wrapper-la .language_list_item_icon {
  background-image: url('images/LA.png') !important;
}
.language_list_item_wrapper-lv .language_list_item_icon {
  background-image: url('images/LV.png') !important;
}
.language_list_item_wrapper-lt .language_list_item_icon {
  background-image: url('images/LT.png') !important;
}
.language_list_item_wrapper-lb .language_list_item_icon {
  background-image: url('images/LB.png') !important;
}
.language_list_item_wrapper-mk .language_list_item_icon {
  background-image: url('images/MK.png') !important;
}
.language_list_item_wrapper-ml .language_list_item_icon {
  background-image: url('images/ML.png') !important;
}
.language_list_item_wrapper-ms .language_list_item_icon {
  background-image: url('images/MS.png') !important;
}
.language_list_item_wrapper-mg .language_list_item_icon {
  background-image: url('images/MG.png') !important;
}
.language_list_item_wrapper-mt .language_list_item_icon {
  background-image: url('images/MT.png') !important;
}
.language_list_item_wrapper-mi .language_list_item_icon {
  background-image: url('images/MI.png') !important;
}
.language_list_item_wrapper-mr .language_list_item_icon {
  background-image: url('images/MR.png') !important;
}
.language_list_item_wrapper-mn .language_list_item_icon {
  background-image: url('images/MN.png') !important;
}
.language_list_item_wrapper-nl .language_list_item_icon {
  background-image: url('images/NL.png') !important;
}
.language_list_item_wrapper-ne .language_list_item_icon {
  background-image: url('images/NE.png') !important;
}
.language_list_item_wrapper-no .language_list_item_icon {
  background-image: url('images/NO.png') !important;
}
.language_list_item_wrapper-or .language_list_item_icon {
  background-image: url('images/OR.png') !important;
}
.language_list_item_wrapper-pa .language_list_item_icon {
  background-image: url('images/PA.png') !important;
}
.language_list_item_wrapper-ps .language_list_item_icon {
  background-image: url('images/PS.png') !important;
}
.language_list_item_wrapper-fa .language_list_item_icon {
  background-image: url('images/FA.png') !important;
}
.language_list_item_wrapper-pl .language_list_item_icon {
  background-image: url('images/PL.png') !important;
}
.language_list_item_wrapper-pt .language_list_item_icon {
  background-image: url('images/PT.png') !important;
}
.language_list_item_wrapper-ro .language_list_item_icon {
  background-image: url('images/RO.png') !important;
}
.language_list_item_wrapper-ru .language_list_item_icon {
  background-image: url('images/RU.png') !important;
}
.language_list_item_wrapper-sm .language_list_item_icon {
  background-image: url('images/SM.png') !important;
}
.language_list_item_wrapper-sr .language_list_item_icon {
  background-image: url('images/SR.png') !important;
}
.language_list_item_wrapper-st .language_list_item_icon {
  background-image: url('images/ST.png') !important;
}
.language_list_item_wrapper-sn .language_list_item_icon {
  background-image: url('images/SN.png') !important;
}
.language_list_item_wrapper-sd .language_list_item_icon {
  background-image: url('images/SD.png') !important;
}
.language_list_item_wrapper-so .language_list_item_icon {
  background-image: url('images/SO.png') !important;
}
.language_list_item_wrapper-sw .language_list_item_icon {
  background-image: url('images/SW.png') !important;
}
.language_list_item_wrapper-sv .language_list_item_icon {
  background-image: url('images/SV.png') !important;
}
.language_list_item_wrapper-su .language_list_item_icon {
  background-image: url('images/SU.png') !important;
}
.language_list_item_wrapper-tl .language_list_item_icon {
  background-image: url('images/TL.png') !important;
}
.language_list_item_wrapper-th .language_list_item_icon {
  background-image: url('images/TH.png') !important;
}
.language_list_item_wrapper-ta .language_list_item_icon {
  background-image: url('images/TA.png') !important;
}
.language_list_item_wrapper-tt .language_list_item_icon {
  background-image: url('images/TT.png') !important;
}
.language_list_item_wrapper-tg .language_list_item_icon {
  background-image: url('images/TG.png') !important;
}
.language_list_item_wrapper-te .language_list_item_icon {
  background-image: url('images/TE.png') !important;
}
.language_list_item_wrapper-tr .language_list_item_icon {
  background-image: url('images/TR.png') !important;
}
.language_list_item_wrapper-tk .language_list_item_icon {
  background-image: url('images/TK.png') !important;
}
.language_list_item_wrapper-uk .language_list_item_icon {
  background-image: url('images/UK.png') !important;
}
.language_list_item_wrapper-ug .language_list_item_icon {
  background-image: url('images/UG.png') !important;
}
.language_list_item_wrapper-ur .language_list_item_icon {
  background-image: url('images/UR.png') !important;
}
.language_list_item_wrapper-uz .language_list_item_icon {
  background-image: url('images/UZ.png') !important;
}
.language_list_item_wrapper-vi .language_list_item_icon {
  background-image: url('images/VI.png') !important;
}
.language_list_item_wrapper-xh .language_list_item_icon {
  background-image: url('images/XH.png') !important;
}
.language_list_item_wrapper-yi .language_list_item_icon {
  background-image: url('images/YI.png') !important;
}
.language_list_item_wrapper-yo .language_list_item_icon {
  background-image: url('images/YO.png') !important;
}
.language_list_item_wrapper-zu .language_list_item_icon {
  background-image: url('images/ZU.png') !important;
}
