
.language_list_item_wrapper .language_list_item_icon {
    background-size: contain !important;
    background-repeat: no-repeat;
    opacity: 1;
}

@languages: 
    af,
    sq,
    am,
    de,
    ar,
    hy,
    az,
    bn,be,my,bs,bg,km,kn,ca,ceb,cs,ny,zh,si,ko,co,ht,hr,da,sk,sl,en,eo,es,et,eu,fi,fr,fy,gd,cy,gl,ka,el,gu,ha,haw,iw,hi,hmn,hu,ig,id,ga,is,it,ja,jw,kk,rw,ky,ku,lo,la,lv,lt,lb,mk,ml,ms,mg,mt,mi,mr,mn,nl,ne,no,or,pa,ps,fa,pl,pt,ro,ru,sm,sr,st,sn,sd,so,sw,sv,su,tl,th,ta,tt,tg,te,tr,tk,uk,ug,ur,uz,vi,xh,yi,yo,zu;
 
    @length : length(@languages);

@plugin "less-uppercase";
.flags(@languages; @index) when (@index > 0) {
    .flags(@languages; (@index - 1)); // decrement.
    @language: extract(@languages, @index);
    @LANGUAGE: uppercase(@language);
    .language_list_item_wrapper-@{language} .language_list_item_icon {
        background-image: url('images/@{LANGUAGE}.png') !important;
    }
}

.flags(@languages, @length);